* {
  box-sizing: border-box;
  font-family: sans-serif;
}



/* ------------------- top ---------------------- */
.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  height: 220px;
  background-color: #d3a760;
  color: #95681f;
}

.top h1 {
  font-size: 50px;
}

.timer {
  font-size: 24px;
}

.startBtn {
  height: 80px;
}

.start {
  width: 200px;
  height: 60px;
  margin: 10px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px gray;
  transition: .3s;
  cursor: pointer;
}
.start:hover {
  opacity: .9;
}
.start:active {
  box-shadow: none;
  transform: translateY(4px);
  transition: .3s;
}


/* ------------------ result-list --------------------- */
.result-list {
  position: absolute;
  top: 50px;
  right: -180px;
}
.result-list ul {
  padding: 0;
  position: relative;
  width: 150px;
}
.result-list ul li {
  color: black;
  border-left: solid 8px orange;
  background: whitesmoke;
  margin-bottom: 5px;
  line-height: 1.5;
  border-radius: 0 15px 15px 0;
  padding: 0.5em;
  list-style-type: none !important;
}


/* ------------------ game-area -------------------- */
.game {
  position: relative;
  width: 500px;
  height: 499px;
  margin: 15px auto;
  background-color: rgb(233, 209, 124);
  border-radius: 3px;
}

.startTop {
  text-align: center;
  line-height: 500px;
  color: black;
}

.boxes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boxes button {
  display: none;
  text-align: center;
  border: 2px solid rgb(233, 209, 124);
  border-radius: 3px;
  background-color: #fff;
  cursor: pointer;
  font-size: 1.3em;
  width: 50px;
  height: 50px;
  line-height: 50px;
}


/* ----------------- result ------------------ */
.resultNone {
  display: none;
}
.resultBox {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 500px;
  padding: 50px 0;
}
.result {
  text-align: center;
  width: 100%;
  height: 100%;
}
.result-detail {
  display: flex;
  justify-content: space-evenly;
}
.time, .rank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 150px;
  height: 150px;
}
.result h2 {
  font-size: 40px;
  margin-bottom: 20px;
}
.result h3 {
  font-size: 24px;
}
.result p {
  font-size: 24px;
  margin: 10px;
}
.fire {
  color: red;
}
.result button {
  width: 200px;
  height: 60px;
  margin: 40px 10px 10px 10px;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 4px gray;
  transition: .3s;
  cursor: pointer;
}
.result button:hover {
  opacity: .9;
}
.result button:active {
  box-shadow: none;
  transform: translateY(4px);
  transition: .3s;
}